/* PSD 2 HTML */

* {
    margin: 0;
    padding: 0;
}

a:hover,
a:visited,
a:active {
    text-decoration: none;
}

/*-----------
01- Header
-----------*/

.mini-header {
    height: 40px;
    line-height: 40px;
    color: #506a85;
    font-size: 12px;
    background: #f5f7fa;
    border-bottom: 1px solid #e6e9ed;
}

.header-contact span:first-child {
    margin-right: 25px;
}

.social-icons ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: right;
    display: block;
    width: 100%;
}

.social-icons li {
    display: inline-block;
    margin: 0px 10px;
}

.social-icons li:last-child {
    margin-right: 0px;
}

.social-icons li a {
    color: #506a85;
    margin: 0px 2px;
    font-size: 14px;
}

.social-icons li a:hover,
.social-icons li a:active,
.social-icons li a:visited {
    color: #3c5570;
}

.main-header {
    height: 112px;
    border-bottom: 1px solid #e6e9ed;
    padding: 35px 0px;
}

.menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    display: block;
    text-align: left;

}

.menu li {
    display: inline-block;
    margin: 0px 20px;
}

.menu li:first-child {
    margin-left: 0px;
}

.menu li:last-child {
    float: right;
}

.menu li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #506a85;
    line-height: 40px;
}

.menu li a:hover,
.menu li a:visited {
    color: #3c5570;
}

.menu-toggle {
    
    display: none;
    
    
}
.toggle{
    display: none;
}




/*-----------------
02- Featured - Area
------------------*/

.featured-area {
    height: 600px;
    background: url("../img/featured.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.featured-area-content {
    color: white;
    margin: 0px auto;
    width: 960px;
    max-width: 100%;
    padding-top: 160px;
}

.featured-area h1 {
    display: block;
    width: 100%;
    font-size: 78px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;

}

.content-text {
    margin-bottom: 40px;

}

.featured-area-content p {
    font-size: 24px;
    color: #a3b1bf;
}

.featured-button {
    display: inline-block;
}

.featured-button a {

    background-color: #00bc9c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #00bc9c;
    padding: 20px 60px;
    color: white;

}

.featured-button a:hover {
    background-color: #0a8974;
    border-bottom: 2px solid #0a8974;
}

/*-----------------
03- Services - Area
------------------*/

.services {
    padding: 125px 0px;
    text-align: center;

}

.services-content-container {
    width: 820px;
    margin: 0px auto;
    max-width: 100%;
}

.services-head h2 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 42px;
    font-weight: bold;
    color: #506a85;
    margin-top: 0px;
    margin-bottom: 35px;

}

.services-head p {
    display: block;
    font-size: 21px;
    color: #73879c;
    text-align: center;
}

.services-content {
    margin-top: 60px;
}

.service-icon {
    font-size: 56px;
    color: #00bc9c;
    margin-top: 0px;
}

.service-text {
    margin-top: 15px;
}

.service-text h3 {
    color: #506a85;
    font-size: 26px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
}

.service-text p {
    color: #73879c;
    font-size: 16px;
    text-align: left;
}

/*-----------------
04- Home-Posts
------------------*/

.home-posts {
    padding: 125px 0px;
    background-color: #f2f5f7;
}

.section-head h2,
.section-head p {
    text-align: center;
    width: 100%;
}

.section-head h2 {
    font-size: 44px;
    color: #506a85;
    margin-bottom: 30px;
}

.section-head p {
    font-size: 22px;
    color: #73879c;
}

.latest-posts {
    margin-top: 60px;

}

.post-inner-col {
    background-color: #ffffff;

}

.post-inner-col img {
    width: 100%;
}

.meta {
    padding: 25px;
}

.meta h4,
.meta p {
    text-align: center;
    width: 100%;
}

.meta h4 {
    color: #506a85;
    font-size: 20px;
}

.meta p {
    color: #73879c;
    font-size: 14px;
}

.carousel-row {
    margin-top: 80px;
}

.owl-dots {
    text-align: center;
    margin-top: 50px;

}

.owl-dots button {
    border-radius: 50%;
    border: 6px solid #506a85 !important;
    display: inline-block;
    margin: 0px 4px;
}

.owl-dots button.active {

    border: 6px solid #00bc9c !important;

}

/*-----------------
05 - Call to Action
------------------*/

.call-to-action{
    padding: 125px 0px;
    text-align: center;

}

.call-to-action-content {
    display: block;
    width: 820px;
    margin: 0px auto;
    text-align: center;
}

.call-to-action-content h2{
    display: block;
    color: #506a85;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin:0px 0px 35px 0px;
}

.call-to-action-content p{
    color: #73879c;
    font-size: 21px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.call-button {
    display: inline-block;
}
.call-button a{
    background-color: #00bc9c;
    padding: 20px 60px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #00bc9c;
    font-size: 18px;
    font-weight: bold;
}
.call-button a:hover {
    background-color:#0a8974;
    border-bottom: 2px solid #0a8974;
    
}






/*-----------------
Responsiveness
------------------*/

@media all and (max-width:576px) {
    .header-contact {
        display: none;
    }

    .menu li {
        width: 100%;
        margin: 0px;
        border-bottom: 1px solid #3f556c;
        padding: 10px 0px;
    }

    .menu ul li a {
        color: white;
        text-align: center;
        display: inline-block;
        width: 100%;
        

    }

    

    .menu {
        background-color: #506a85;
        text-align: center;
        padding: 10px 0px;
    }

    .menu li a:hover,
    .menu li a:visited {
        color: white;
    }

    .menu li:last-child {
        display: none;
    }

    .menu li a:hover {
        background-color: #3f556c;
    }

    .main-header {
        position: relative;
    }

    .main-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        top: 113px;
        display: none;

    }

    .toggle {
        display: block;
    }

    .menu-toggle {
        position: absolute;
        right: 10px;
        top: 24px;
        color: #506a85;
        font-size: 40px;
        display: block;
        
        
    }

    .menu-toggle :visited, .menu-toggle:active{
        color:#506a85; ;
    }

    .featured-area{
        height: 450px;
    }
.featured-area-content{
    padding: 120px 0px;
}

    .featured-area-content h1{
        font-size: 30px;
    }
    .featured-area-content p{
        font-size: 18px;
    }

    .featured-button a {

        padding: 15px 50px;
        font-size: 15px;
    
    }
    .services{
        padding: 90px 0px;
    }

    .services-content h3{
        text-align: center;
    }
    .services-content p{
        text-align: center;
    }

    .post-col :first-child{
        margin-bottom: 15px;
    }
    .home-posts{
        padding-top: 70px;
    }
    .services{
        padding-bottom: 45px;
    }
    .services-content{
        margin-top: 35px;
    }
    

}