/* PSD 2 HTML */

*{
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:active{
    text-decoration: none;
}

/*-----------
01- Header
-----------*/

.mini-header{
    height: 40px;
    line-height: 40px;
    color: #506a85;
    font-size: 12px;
    background: #f5f7fa ;
    border-bottom: 1px solid #e6e9ed;
}

.header-contact span:first-child{
    margin-right: 25px;
}

.social-icons ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: right;
    display: block;
    width: 100%;
}

.social-icons li{
    display: inline-block;
    margin: 0px 10px;
}
.social-icons li:last-child{
    margin-right: 0px;
}

.social-icons li a{
    color: #506a85;
    margin: 0px 2px;
    font-size: 14px;
}

.social-icons li a:hover, .social-icons li a:active, .social-icons li a:visited{
    color: #3c5570;
}

.main-header{
    height: 112px;
    border-bottom: 1px solid #e6e9ed ;
    padding: 35px 0px;
}

.menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    display: block;
    text-align: left;

}

.menu li{
    display: inline-block;
    margin: 0px 20px;
}
.menu li:first-child{
    margin: 0px 0px;
}
.menu li:last-child{
   float: right;
}

.menu li a {
    text-decoration: none;
    font-size: 15px;
    font-weight:bold;
    color: #506a85;
    line-height: 40px;
}

.menu li a:hover, .menu li a:visited{
    color: #3c5570;
}

/*-----------------
02- Featured - Area
------------------*/

.featured-area{
    height:560px;
    background-color: #3c5570;
}

.featured-area-content{
    color: white;
    margin: 0px auto;
    width: 960px;
    max-width: 100%;
    padding-top:175px ;
}

.featured-area h1{
    display: block;
    width: 100%;
}

.featured-button{
    display: inline-block;
}

.featured-button a{
    background-color: #00bc9c;
}
